@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --breakpoint-desktop: 970px;
  --breakpoint-tablat: 570px;
  --breakpoint-mobile: 400px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* Keyframes */
@keyframes innerGlowMove {
  0% {
    transform: translate(-30%, -30%);
    opacity: 0.6;
  }
  50% {
    transform: translate(30%, 30%);
    opacity: 0.6;
  }
  100% {
    transform: translate(-30%, -30%);
    opacity: 0.6;
  }
}

/* Premium Inner Glow - Soft, diffused */
.premium-inner-glow {
  position: relative;
  overflow: hidden;
}

.premium-inner-glow::after {
  content: "";
  position: absolute;
  width: 250%;
  height: 250%;
  top: -50%;
  left: -50%;
  background: radial-gradient(
    circle,
    rgba(217, 236, 244, 0.699) 0%,
    rgba(227, 239, 244, 0.874) 30%,
    /* rgba(56, 189, 248, 0.08) 50%, */
    transparent 70%
  );
  animation: innerGlowMove 4s ease-in-out infinite;
  pointer-events: none;
}


/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}


@layer base {
  body {
    font-family: var(--font-open-sans);
  }

}

svg *:focus {
  outline: none;
}


@layer utilities {
  .font-open-sans {
    font-family: var(--font-inter);
  }
    .font-arial {
   font-family: Arial;
  }

  .font-inter {
    font-family: var(--font-inter);
  }

  .font-roboto {
    font-family: var(--font-roboto);
  }
  .font-poppins {
    font-family: var(--font-poppins);
  }
    .black{
    border: 1px solid black;
  }
  .green{
    border: 1px solid green;
  }
  .red{
    border: 1px solid rgb(207, 69, 69);
  }
}
